/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.text-white {
    color: #fff !important
}

#main {
    /* background-color: #0e0e0ea7; */
    height: 2000px;
    margin-top: 46px;
}

header {
    height: 46px;
    background-color: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}


#nav li a{
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}

#nav .subnav li {
    width: 100%;
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    width: 100%;
    padding: 0 16px;
    line-height: 38px;
}

header .search-btn {
    line-height: 46px;
    float: right;
    padding: 0 24px;
    transition: background-color 0.4s;
}

header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

header .search-icon {
    color: #fff;
    font-size: 14px;
}

#slider {
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat;
}

#slider {
    position: relative;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.text-heading {
    margin: 10px 0;
    font-weight: 300;
    font-size: 24px;
}

.text-description {
    margin: 15px 0;
}


#content {
}

#content .content-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}
#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: 10px 0;
    letter-spacing: 5px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    margin: 15px 0;
}

#content .member-list{
    overflow: hidden;
}

#content .member-item {
    float: left;
    padding: 32px 0;
    width: 33.3333%;
    text-align: center;
}

.member-item .member-name {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
}

.member-item .member-img {
    width: 60%;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 16px;
}

.tour-section {
    background-color: #000;
}

.tour-section .tickets-list {
    background-color: #fff;
    list-style: none;
}

.tour-section .tickets-list li {
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #ccc;
}

.tour-section .tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 0px 8px;
    display: inline-block;
}

.tour-section .tickets-list .quantity {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 0 8px;
    float: right;
    display: inline-block;
    margin-right: 16px;
}

.tour-section .places-list {
    margin: 32px -8px;
    overflow: hidden;
}

.tour-section .place-item {
    width: 33%;
    float: left;
    padding: 0 8px;
}

.tour-section .place-item img{
    width: 100%;
    height: auto;
    display: block;
}

.tour-section .place-item img:hover {
    opacity: 0.7;
}

.tour-section .place-item .place-body {
    background-color: #fff;
    padding: 0 16px;
    overflow: hidden;
}

.tour-section .place-item .place-heading {
    margin: 15px 0;
    font-size: 15px;
}

.tour-section .place-item .place-time {
    margin: 15px 0;
    opacity: 0.6;
}

.tour-section .place-item .place-desc {
    margin: 15px 0;
}

.tour-section .place-item .buy-btn {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.4s, color 0.4s;
}


.tour-section .place-item .buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

.info-section {
    padding: 32px 0;
    overflow: hidden;
}

.info-section .admin-info {
    width: 50%;
    font-size: 18px;
    float: left;
}

.info-section .admin-info i {
    width: 30px;
}

.info-section .user-info {
    float: left;
    width: 50%;
}

.name-email {

    margin: 0 -16px 8px -16px;
    /* overflow: hidden; */
    padding: 0 8px;
}

.name-email::before {
    content: "";
    display: table;
    clear: both;
}

.name-email::after {
    content: "";
    display: table;
    clear: both;
}

.name {
    float: left;
    padding: 0 8px;
    width: 50%;
}

.email {
    float: left;
    padding: 0 8px;
    width: 50%;
}

.info-section .user-info input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.btn-send {
    float: right;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin: 16px 0;
    text-decoration: none;
    font-size: 15px;
}
footer {

}
